<div class="container">
    <div class="title">
        <h2>Product Order Form</h2>
    </div>
  <div class="d-flex">
    <div class="Yorder">
      <table>
        <tr>
          <th colspan="2">Your order</th>
        </tr>
        <tr *ngFor="let basket of dataArray ;let i =index"  >
          <td >{{basket.nameArt}} </td>
          <td>  {{basket.prixArt}} x{{qt[i]}}(Qty)</td>
        </tr>
        <tr>
          <td>Subtotal</td>
          <td>{{somme}}</td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td>Free shipping</td>
        </tr>
      </table><br>
      <div>
        <input (click)="ModePaiement($event)" type="radio" name="dbt" value="Bank" > Direct Bank Transfer
      </div>
      <div>
        <input (click)="ModePaiement($event)" type="radio" name="dbt" value="Delivery"> Cash on Delivery
      </div>
      <div>
        <input (click)="ModePaiement($event)" type="radio" name="PayPal" value="PayPal"> Paypal <span>
        <img src="https://www.logolynx.com/images/logolynx/c3/c36093ca9fb6c250f74d319550acac4d.jpeg" alt="" width="50">
        </span>
      </div>
      <div class="alert alert-success" *ngIf="successMessage">{{successMessage}}</div>
      <button type="button" (click)="order()">Place Order</button>
    </div><!-- Yorder -->
   </div>
  </div>