<div id="breadcrumbs">
    <div class="container">
      <table>
        <tr>
          <td><a href="#">Home</a></td>
          <td>About us</td>
        </tr>
      
      </table>
    </div>
</div>
      
      
      
      
      
      <!-- About Section Start From here -->

      <section id="about-section">
        <!-- about left  -->
        <div class="about-left">
            <img src="/assets/background/pexels-photo-8776983.jpeg" style="height: 500px; width:400px ;" />
        </div>

        <!-- about right  -->
        <div class="about-right">
            <h4>Our Story</h4>
            <h1>About Diana’s jewerlly</h1> <br>
            <p>
                The Diana’s jewerlly.tn Boutique is exclusively an online jewelry store. We present to you a collection of quality costume jewelry for women,accessories on our online store! Indulge yourself with our selection of cheap Costume Jewelry! Do not miss to discover the full extent of our offer at the best prices. Hundreds of new jewelry for all styles. stone bracelets , earrings ,rings, necklaces
            </p>
            <div class="address">
                <ul>
                    <li>
                        <span class="address-logo">
                            <i class="bi bi-geo-alt" style="font-size: x-large; "></i>
                        </span>
                        
                        <span class="saprater"> Address :   Tunisia, Nabeul</span>
                       
                    </li>
                    <li>
                        <span class="address-logo">
                            <i class="bi bi-telephone"  style="font-size: x-large; "></i>
                        </span>
                      
                        <span class="saprater"> Phone No: +216 22 929 498</span>
                       
                    </li>
                    <li>
                        <span class="address-logo">
                            <i class="bi bi-envelope"  style="font-size: x-large; "></i>
                        </span>
                       
                        <span class="saprater"> Email ID: chellyoumaima70@gmail.com</span>
                        
                    </li>
                </ul>
            </div>
            
        </div>
    </section>


