<div id="breadcrumbs">
    <div class="container">
      <table>
        <tr>
          <td><a routerLink="/dashbord-admin">Admin panel</a></td>
          <td>List Users</td>
        </tr>
      
      </table>
    </div>
    <!-- / container -->
    
  </div>


<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">id</th>
                                <th class="border-top-0">Full Name</th>
                                <th class="border-top-0">Phone</th>
                                <th class="border-top-0">town</th>
                                <th class="border-top-0">Password</th>
                                <th class="border-top-0">Email</th>
                                <th class="border-top-0"> Delete user</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let user of dataArray">
                            <tr *ngIf="user.flName!='admin'">
                                <td>{{user.id}}</td>
                                <td>{{user.flName}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.town}}</td>
                                <td>{{user.password}}</td>
                                <td>{{user.email}}</td>
                             <td><button class="custom-btn btn-6" (click)="delete(user.id)"><span>Delete</span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

