<!-- Background image -->

 
<div id="box"  class="bg-image d-flex justify-content-center align-items-center">
  <nav class="navbar navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand"></a>
      <div id="slider">
        <h3>Make your life better</h3>
         <h2>You deserve to be beauty</h2>
         <button class="custom-btn btn-6" routerLink="/about"><span>Read More</span></button>
        </div>
       
    </div>
  </nav>
  </div>
  
  <!-- Background image -->



